@import '../../common/common.scss';


.caseStudies {
  margin-top: 48px;
  color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
  @include page-padding;


  .project {
    margin-top: 84px;
    z-index: 10; // Make sure fancy background goes underneath
    display: flex;
    flex-direction: column;
  }

  .project-description {
    display: inline-flex;
    flex-direction: column;


    @include breakpoint(md) {
      flex-direction: row;
    }

    .preview {
      img {
        border-radius: 4px;
        @include box-shadow(-12px 12px 0px 0px rgba(0,0,0,0.75));
      }
    }

    .overview {
      display: block;
      width: 100%;

      p {
        font-family: $font-body;
        font-size: $font-size-p;
        line-height: $line-height;
      }

      @include breakpoint(md) {
        width: 35%;
        min-width: 400px;
        margin-left: 48px;
      }
    }
  }

	h2.caseStudies-header {
    margin-bottom: 0px;
		font-weight: normal;
		display: flex;
		flex-direction: row;

		font-size: 24px;
    width: 80%;
    text-align: center;

		@include breakpoint(sm) {
      width: auto;
			font-size: $font-size-h1;
		}
	}
	
  .quote {
    margin-left: auto; 
  }
}
