@import '../../common/common.scss';

$line-height: 2px;

.button-cta {
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  .arrow-circle {
		background: $logo-green;
		color: $eggplant;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;

    .arrow {
      width: 24px;
      margin-top: 4px;
    }
  }

  .emphasized-text {
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-body;
      font-weight: bold;
      text-decoration: none;
      font-size: 24px;
      color: $white;
      margin: 0;
    }

    .expando {
      @include transition(all .25s);
      background: $logo-green;
      height: 2px;
      width: 0px;
    }
  }

  &:hover {
    .expando {
      width: 100%;
    }
  }
}
