@import '../../common/common.scss';

.splash {
	display: flex;
	position: relative;
	@include transform(translate3d(0,0,0));
	flex-direction: column;
	align-items: left;
	text-align: left;
	width: 100%;
	height: 400px;

  .splash-inner {
    @include page-padding;
  }

	.logo {
		margin-top: 64px;
		height: 64px;
	}

	h1.tagline, h2.biline {
		color: $white;
		font-weight: normal;
		font-family: $font-logo;
		font-weight: bold;
		margin: 0px;
		font-size: 82px;
    max-width: 600px;
	}

  h2.biline {
    margin: 12px;
    font-size: 24px;
    font-family: $font-body;
  }

	.buttons {
		margin-top: 32px;
		display: flex;
		align-content: center;
		flex-direction: column;

		@include breakpoint(sm) {
			flex-direction: row;
		}

		.button-cta {
			margin: 0 6px;

			&:nth-child(2) {
				margin-top: 12px;
			
				@include breakpoint(sm) {
					margin-top: 0;
				}
			}
		}
	}
  .wavy-border {
    position: absolute;
    bottom: -11px;
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
}
