@import '../../common/common.scss';

.splash {
	display: flex;
	position: relative;
	@include transform(translate3d(0,0,0));
	flex-direction: column;
	align-items: left;
	text-align: left;
	width: 100%;
  @include page-padding;

	height: 100vh;

	.logo {
		margin-top: 64px;
		height: 64px;
	}

	h1.tagline {
		color: $white;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		font-family: $font-logo;
		font-weight: bold;
		margin-top: 24px;
		font-size: 82px;
    max-width: 600px;
	}


	.buttons {
		margin-top: 32px;
		display: flex;
		align-content: center;
		flex-direction: column;

		@include breakpoint(sm) {
			flex-direction: row;
		}

		.button-cta {
			margin: 0 6px;

			&:nth-child(2) {
				margin-top: 12px;
			
				@include breakpoint(sm) {
					margin-top: 0;
				}
			}
		}
	}
}
