@import '../../common/common.scss';

.site-header {
	background: $eggplant;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 64px;
  @include page-padding;
  padding-top: 84px;

	@include breakpoint(sm) {
		height: 128px;
	}

	.logo-container {
		display: flex;
		flex-direction: row;
    align-items: center;
		height: 32px;

		.wordmark {
			z-index: $layer-1;

			height: 18px;
			margin-bottom: 0;
		}

    .icon {
      height: 48px;
      margin-right: 12px;
      margin-bottom: 0;
    }
	}
}
